<!DOCTYPE html>
<html>
<head>
  <title>監視カメラ(トリガー式)</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <script type="text/javascript" src="worker/Decoder.js"></script>
  <script type="text/javascript" src="worker/YUVCanvas.js"></script>
  <script type="text/javascript" src="worker/Player.js"></script>
</head>
<body>
  <div id="app" name="yrLab"></div>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>